
apiVersion: v1
kind: Secret
metadata:
  name: pg-secret
  namespace: todo
type: Opaque
stringData:
  POSTGRES_PASSWORD: postgres
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: todo-pgdata
  namespace: todo
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-postgres
  namespace: todo
spec:
  replicas: 1
  selector:
    matchLabels: { app: todo-postgres }
  template:
    metadata:
      labels: { app: todo-postgres }
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_DB
              value: tododb
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: todo-pgdata
---
apiVersion: v1
kind: Service
metadata:
  name: todo-postgres
  namespace: todo
spec:
  selector: { app: todo-postgres }
  ports:
    - port: 5432
      targetPort: 5432
